*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 font-family: 'Open Sans', sans-serif;
}

/* font-family: 'Raleway', sans-serif; 
font-family: 'Open Sans', sans-serif;
*/

/* Header section */

.header-section{
    background-color: hsl(217, 28%, 15%);
    color: #fff;
    padding: 5% 7%;
    text-align: center;
}

.navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    list-style: none;
    display: inline-block;
}

.intro-image{
    margin: 5%;
}

.intro-header{
    font-family: 'Raleway', sans-serif; 
    font-weight: 900;
}





