*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 font-family: 'Open Sans', sans-serif;
 /* color: #fff; */
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;  
    font-weight: bold;
}

/* font-family: 'Raleway', sans-serif; 
font-family: 'Open Sans', sans-serif;
*/

/* Header section */

.header-section{
    background-color: hsl(217, 28%, 15%);
    color: #fff;
    padding: 5% 7%;
    text-align: center;
}

.navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    list-style: none;
    display: inline-block;
}

.intro-image{
    margin: 5%;
}

.intro-heading{
    font-family: 'Raleway', sans-serif; 
    font-weight: 900;
    padding: 3% 20%;
}

.intro-paragraph{
    padding: 0 32%;
}

.intro-btn{
    border-radius: 50px;
    width: 200px;
}


/* Options */

.options{
    background-color: hsl(218, 28%, 13%);
    color: #fff;
    background-image: url("images/bg-curvy-desktop.svg");
}

.testimonial{
    padding: 7%;
    text-align: center;
}

.testimonial-header{
    padding: 5% 0 3%;
}


/* Stay productive */

.stay-productive{
    background-color: hsl(218, 28%, 13%);
    color: #fff;
    padding: 5%;
    text-align: left;
}

.productive-header{
    font-size: 2.5rem;
    padding-right: 30%;
}

.stay-productive-pgph{
    margin-top: 7%;
    padding-right: 8%;
}

.stay-productive-pgph p{
    padding-top: 2%;
}

.stay-productive-pgph h3{
    padding-bottom: 2%;
}

/* Opinions */

.opinions{
    background-color: hsl(218, 28%, 13%) ;
    color: #fff;
    padding-left: 7%;
    padding-bottom: 30%;
    flex-direction: row;
    padding-top: 7%;
}

.opinion{
    padding: 3% 2% 2%;
    margin: 0 2%;
    background-color: hsl(219, 30%, 18%);
    font-size: 13px;
}

.opinion-image{
    border-radius: 100%;
    width: 10%;
    padding-bottom: 3%;
}

.person{
    display: inline-block;
    margin-left: 3%;
    margin-top: 5%;
}


/* Sign Up */

.sign-up{
    background-color: hsl(219, 30%, 18%);
    color: #fff;
    width: 60%;
    padding: 5% 7%;
    margin: 0 auto;
}






























