*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section{
    background-color: hsl(217, 28%, 15%);
    color: #fff;
}

.navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    list-style: none;
    display: inline-block;
}
